body {
    background: #ffffff;    
}
a, a:hover, a:focus {
  text-decoration: none;
}
h2 {
    font-family: "MyriadPro-Semibold";
    font-size: 34px;
    line-height: 42px;
    text-transform: uppercase;
    color: #ffffff;
    margin: -8px 0 14px 0;
}
.btn-lg {
  color: #ffffff;
  background-color: #1e9509;  
  border-radius: 0;  
  border-style: none;
}

.btn-lg:hover,
.btn-lg:focus,
.btn-lg:active {
  color: #ffffff;
  background-color: #39bc22;  
}

.btn.btn-success { 
  padding: 6px 1px 0 0;
  margin-left: 15px;  
  font-size: 16px;
  line-height: 1;
  height: 27px !important;
  width: 81px;   
}

.btn.btn-success:hover {
  color: #ffffff;
  background-color: #39bc22;  
}

#header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 121px;
    z-index: 99999;
    background-color: #ffffff;
}

.container {
    padding: 0;        
    height: 100%;
    position: relative;
}
/*Контакты*/
    .infoblock {  
    height: 76px;
    width: 525px;
    position: absolute;
    top: 0;
    right: 0;
    color: #1e1e1e;
    font-family: "MyriadPro-Regular";
    font-size: 14px;   
    }
    .infoblock > div{
    display: inline-block;  
    margin-top: 21px;
    }
    .phones {
    height: 39px;
    position: absolute;  
    top: 0;
    left: 0;
    }
    .icon-phone {
    font-size: 18px;  
    position: relative;
    right: 6px;
    top: 1px;
    }
    .phone_text a {
    font-size: 20px;  
    color: #1e1e1e;    
    }
    .phones .order_wrap_btn {
        display: block;
        position: absolute;   
        right: 0; 
        bottom: 0;
        color: #1e9509;      
        line-height: 1;
    }
    .adress {
    width: 348px;
    position: absolute;
    top: 0;
    right: 0;
    text-align: right;
    }
    .icon-map-marker {
    font-size: 19px;
    position: absolute;
    top: 4px;
    right: 302px;
    }
    .adress_text1, .adress_text2 {
    color: #2d2d2d;
    }
    .adress_text1{
    position: relative;
    top: 6px;
    }
    .adress_text2 {
    position: relative;
    top: 2px;
    }
/*Меню*/
    .navbar-default {    
        border: 0;
        padding: 0 0 1px 1px;    
        margin: 0;
        border-radius: 0;
        height: 100%;
        background-color: #ffffff;
        overflow: hidden;
    }
    .navbar-header {
        height: 100%;
    }
    .navbar-default .navbar-brand {    
        width: 230px;
        height: 100%;
        padding: 0;      
        background: url(images/logo.png) no-repeat 50% 50%;
        background-size: contain;
    }
    .navbar-default .navbar-nav{
        position: absolute;
        right: 0;
        bottom: 0;
        margin-bottom: 18px;    
        font-family: "MyriadPro-Regular";
        font-size: 16px;
        text-transform: uppercase;
    }
    .navbar-default .navbar-nav > li > a {
    padding: 7px 15px 0 15px;
    height: 27px;
    font-size: 16px;
    line-height: 1;
    color: #1e1e1e;
    }
    .navbar-default .navbar-nav > li:first-of-type > a {
    padding: 3px 30px 0 30px;
    font-size: 17px;
    }
    .navbar-default .navbar-nav > li > a > i {
        display: inline-block;
        margin: 0 15px;
    }
    .navbar-default .navbar-nav > li.active > a,
    .navbar-default .navbar-nav > li.active:focus > a,
    .navbar-default .navbar-nav > li.active:hover > a,
    .navbar-default .navbar-nav > li:hover > a,
    .navbar-default .navbar-nav > li:focus > a,
    .navbar-default .navbar-nav > li.active > a:focus,
    .navbar-default .navbar-nav > li.active:focus > a:focus,
    .navbar-default .navbar-nav > li.active:hover > a:focus,
    .navbar-default .navbar-nav > li:hover > a:focus,
    .navbar-default .navbar-nav > li:focus > a:focus {
        /*background-color: #52b6ec;*/
        background-color: #ffffff;
        color: #1e9509;
    }
section {
    width: 100vw !important;
    position: relative; /*чтобы якорь цеплялся за секцию*/
}
section .anchor {
    top: -121px; /*смещаем якорь вверх на высоту меню, чтобы при прокрутке секция была ровно ниже меню, а не скрывалась под ним*/
    position: absolute;/*и вырываем его из потока, чтобы он не сказывался на остальном контенте*/
}
/*Первый слайд*/
    #house {
        height: 635px;        
        background: fixed url(images/Layer23.jpg) no-repeat 0 121px;    
        margin: 121px 0 165px 0;        
    }
    #house .box {
        position: absolute;
        top: 202px;
        left: 0;
        height: 265px;
        width: 765px;
        padding: 50px;
        background: rgba(255, 255, 255, 0.8);  
    }
    #house h1 {
        font-family: "MyriadPro-Semibold";
        font-size: 34px;
        color: #1e1e1e;
        margin: -8px 0 18px 0;
        text-transform: uppercase;
        line-height: 44px;
    }
    #house h3 {
        font-family: "MyriadPro-Regular";
        font-size: 16px;
        color: #2d2d2d;
        margin: 0;
        line-height: 24px;
    }
    .opacity40 {
        opacity: 0.4;  
    }
    .opacity70 {
        opacity: 0.7;  
    }
/*Картинки с тенями*/
    #RoundedRectangle1 
    { 
        left: 152px; 
        top: 626px; 
        position: absolute; 
        width: 666px;
        height: 197px;
        z-index:202;
    } 

    #RoundedRectangle2 
    { 
        left: 629px; 
        top: 611px; 
        position: absolute; 
        width: 267px;
        height: 173px;
        z-index:203;
    } 

    #RoundedRectangle3 
    { 
        left: 728px; 
        top: 625px; 
        position: absolute; 
        width: 430px;
        height: 187px;
        z-index:204;
    } 

    #RoundedRectangle4 
    { 
        left: 993px; 
        top: 548px; 
        position: absolute; 
        width: 462px;
        height: 208px;
        z-index:205;
    } 

    #RoundedRectangle5 
    { 
        left: 914px; 
        top: 555px; 
        position: absolute; 
        width: 247px;
        height: 216px;
        z-index:206;
    } 

    #RoundedRectangle1_0 
    { 
        left: 167px; 
        top: 630px; 
        position: absolute; 
        width: 623px;
        height: 149px;
        z-index:207;
    } 

    #RoundedRectangle2_0 
    { 
        left: 672px; 
        top: 611px; 
        position: absolute; 
        width: 199px;
        height: 154px;
        z-index:208;
    } 

    #RoundedRectangle3_0 
    { 
        left: 765px; 
        top: 611px; 
        position: absolute; 
        width: 364px;
        height: 158px;
        z-index:209;
    } 

    #RoundedRectangle4_0 
    { 
        left: 932px; 
        top: 558px; 
        position: absolute; 
        width: 390px;
        height: 176px;
        z-index:210;
    } 

    #RoundedRectangle5_0 
    { 
        left: 841px; 
        top: 589px; 
        position: absolute; 
        width: 193px;
        height: 168px;
        z-index:211;
    } 

    #Layer25copy 
    { 
        left: 929px; 
        top: 205px; 
        position: absolute; 
        width: 409px;
        height: 491px;
        z-index:212;
    } 

    #Layer24 
    { 
        left: 220px; 
        top: 250px; 
        position: absolute; 
        width: 855px;
        height: 499px;
        z-index:213;
    } 
.center {
    text-align: center;
}
.row {
    margin: 0;
}
/*Слайд про свойства*/    
    #services {        
        color: #2d2d2d;
    }
    #services .row > div {
        margin-top: 50px;
    }
    #services img {
        width: 96px;
        height: 96px;        
    }
    #services h4 {
        font-family: "MyriadPro-Regular";
        font-size: 20px;
        line-height: 28px;
        margin: 26px 0 6px 0;
    }
    #services h4 + p {
        height: 3px;
        width: 80px;
        margin: 0 auto 15px auto;
        background-color: #1e9509;
        opacity: 0.4;
    }
    #services p {
        font-family: "MyriadPro-Regular";
        font-size: 16px;
        line-height: 24px;
    }
/* Разделитель с кнопкой перейти */
    .form-group { 
        height: 225px;
        position: relative;
        margin: 70px 0;
    }    
    .form-group:first-of-type, .form-group:nth-of-type(2) {
        background: fixed url(images/Layer37.jpg) repeat-y 50% 121px;        
    }
    .form-group:first-of-type::before, .form-group:nth-of-type(2)::before {
        content: '';
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;        
        opacity: 0.8;
    }
    .form-group:first-of-type::before {        
        background-color: #2b2a29;        
    }
    .form-group:nth-of-type(2)::before {        
        background-color: #ffffff;        
    }
    .btn-primary { 
        position: relative;
        height: 63px;
        width: 367px;
        font-family: "MyriadPro-Semibold";
        font-size: 34px;
        line-height: 50px;
        text-transform: uppercase;
        margin: 35px 0 80px 0;
    }    
    .form-group .btn-primary {
        margin: 80px 0;
    }
/* Слайд Как выбрать, который кто-то назвал pricing! Pricing, Карл! Какого лешего?! Причём здесь pricing?! */
    #pricing h2 {            
        color: #1e1e1e;        
        margin-top: 0px;    
        margin-bottom: 20px;   
    }
    #pricing .lead {
        font-family: "MyriadPro-Regular";
        font-size: 24px;
        color: #2d2d2d;
        line-height: 32px;
        margin: 0 0 30px 0;        
    }
    #pricing .lead::after {
        content: '';
        display: block;
        height: 3px;
        width: 500px;
        margin: 10px auto 0px auto;
        background-color: #1e9509;
        opacity: 0.4;
    }
    #pricing-table > div {
        padding: 0;
        margin-bottom: 20px;    
    }        
    .plan {
        background: #f3f3f3;
        list-style: none;    
        padding: 0;  
        margin: 0;         
    }
    .plan li {
        padding: 24px 30px;
        font-family: "MyriadPro-Regular";
        font-size: 20px;
        line-height: 28px;
        color: #1e1e1e; 
        float: left;  
        width: 50%;
    }   
    #pricing .plan li:nth-of-type(2), #pricing .plan li:nth-of-type(3) {
        font-size: 16px;
        line-height: 24px;
        color: #2d2d2d;      
    } 
    .plan  li:first-of-type {
        padding: 0;
        font-size: 20px;
        line-height: 56px;
        color: #ffffff;
        float: none;
        clear: both;
        width: 100%;
        background: fixed url(images/Layer33.jpg) repeat-y 50% 121px;        
        text-align: center;
        height: 55px;
        position: relative;
    }
    .plan  li:first-of-type::before {
        content: '';
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;        
        background-color: #1e9509;        
        opacity: 0.9;
    }
    .plan  li p {
        position: relative;
        margin: 0;        
    }
    .plan i {
        float: left;
        clear: left;
        font-size: 24px;
    }
    .plan i + p {
        float: left;
        width: calc( 100% - 24px );
        padding-left: 10px;
    }
    .icon-color1 {        
        color: #d52316;
    }
    .icon-color2 {        
        color: #128931;
    }
    .icon-color3 {        
        color: #ff7800;
    }
    .plan::after {
        content: '';
        clear: both;
        display: block;
    }
    #pricing #pricing-table > div:last-of-type {
        margin-bottom: 10px;
    }
    #pricing #pricing-table > div:last-of-type .plan {
        border: 4px solid #ff7800;
    }
    #pricing #pricing-table > div:last-of-type .plan  li:first-of-type {
        background-image: none;
        background-color: #ff7800;
        margin-top: -4px;
    }
    #pricing #pricing-table > div:last-of-type .plan  li:first-of-type::before {
        content: none;
    }
    #pricing #pricing-table > div:last-of-type .plan  li:nth-of-type(2) {
        padding: 24px 26px 20px 26px;
        width: 100%;
    }


/* Слайдs про пол, балкон и цоколь*/
    #floor, #balkon, #podval {
        height: 525px;
        margin-bottom: 30px;
    }
    #podval {
        height: 605px;
    }
    #floor {
        background: url(images/layer_93.jpg) no-repeat 0 0;
    }
    #balkon {
        background: url(images/layer_71.jpg) no-repeat 0 0;
    }
    #podval {
        background: url(images/Layer32.jpg) no-repeat 0 0;
    }
    #floor .box, #balkon .box, #podval .box  {
        width: 100%;
        padding: 50px 30px;        
        background-color: rgba(30, 30, 30, 0.7);
    }    
    #floor p, #balkon p, #podval p {
        font-family: "MyriadPro-Regular";
        font-size: 20px;
        line-height: 28px;
        color: #ffffff;
    }    
    #floor2 .flexcol, #balkon2 .flexcol, #podval2 .flexcol {
        min-height: 340px;
    }
    .flexcol {
        display: flex;    
        justify-content: space-around;
        flex-direction: column;
        height: 100%;
    }
    .videoWrapper {
        margin-left: -30px;  
        background-color: #ffffff;      
    }
    .videoWrapper iframe {
        height: 312px;
        width: 100%;
    }
    .videoWrapper p {
        font-size: 16px;
        line-height: 22px;
        padding-left: 20px;
        margin-top: -4px;
        padding-bottom: 4px;
    }   

/* Клей */
    #glue {
        height: 256px;
        background-color: #1e9509;
        margin-bottom: 140px;
    }
    #Ellipse1 
    { 
        left: 4px; 
        top: 261px; 
        position: absolute; 
        width: 207px;
        height: 77px;
        z-index:101;
    }
    #Layer26 
    { 
        left: 61px;
        top: -76px;
        position: absolute; 
        width: 97px;
        height: 384px;
        z-index:102;
    } 
    #glue .box {
        margin-left: 244px;
    }
    #glue p {
        font-family: "MyriadPro-Regular";
        font-size: 20px;
        line-height: 18px;
        color: #ffffff;
    }

/*Что-то дальше*/

.carousel.scale .left-arrow,
.carousel.scale .right-arrow {
    top: 30%;
    position: absolute;
}
.carousel.scale .left-arrow {
    left: -10px;
}
.carousel.scale .right-arrow {
    right: -10px;
}
.carousel.scale .active .row > div:nth-child(1) {
    -webkit-animation: scaleUp 200ms linear 0 both;
    -moz-animation: scaleUp 200ms linear 0 both;
    -ms-animation: scaleUp 200ms linear 0 both;
    -o-animation: scaleUp 200ms linear 0 both;
    animation: scaleUp 200ms linear 0 both;
}
.carousel.scale .active .row > div:nth-child(2) {
    -webkit-animation: scaleUp 200ms linear 100ms both;
    -moz-animation: scaleUp 200ms linear 100ms both;
    -ms-animation: scaleUp 200ms linear 100ms both;
    -o-animation: scaleUp 200ms linear 100ms both;
    animation: scaleUp 200ms linear 100ms both;
}
.carousel.scale .active .row > div:nth-child(3) {
    -webkit-animation: scaleUp 200ms linear 200ms both;
    -moz-animation: scaleUp 200ms linear 200ms both;
    -ms-animation: scaleUp 200ms linear 200ms both;
    -o-animation: scaleUp 200ms linear 200ms both;
    animation: scaleUp 200ms linear 200ms both;
}
.carousel.scale .active .row > div:nth-child(4) {
    -webkit-animation: scaleUp 200ms linear 400ms both;
    -moz-animation: scaleUp 200ms linear 400ms both;
    -ms-animation: scaleUp 200ms linear 400ms both;
    -o-animation: scaleUp 200ms linear 400ms both;
    animation: scaleUp 200ms linear 400ms both;
}
.icon-social {
    border: 0;
    color: #fff;
    border-radius: 100%;
    display: inline-block !important;
    width: 36px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    padding: 0;
}
.icon-social.icon-facebook {
    background: #4f7dd4;
}
.icon-social.icon-facebook:hover {
    background: #789bde;
}
.icon-social.icon-twitter {
    background: #5bceff;
}
.icon-social.icon-twitter:hover {
    background: #8eddff;
}
.icon-social.icon-linkedin {
    background: #21a6d8;
}
.icon-social.icon-linkedin:hover {
    background: #49b9e3;
}
.icon-social.icon-google-plus {
    background: #dc422b;
}
.icon-social.icon-google-plus:hover {
    background: #e36957;
}
.icon-social.icon-pinterest {
    background: #cb2027;
}
.icon-social.icon-pinterest:hover {
    background: #e03e44;
}
.icon-social.icon-youtube {
    background: #ce332d;
}
.icon-social.icon-youtube:hover {
    background: #da5954;
}
.icon-social:hover {
    color: #fff;
}


#footer {
    padding-top: 30px;
    padding-bottom: 30px;
    color: #999;
}
#footer a {
    color: #999;
}
#footer a:hover {
    color: #52b6ec;
}
ul.social {
    list-style: none;
    margin: 10px 0 0;
    padding: 0;
}
ul.social > li {
    margin: 0 0 20px;
}
ul.social > li > a {
    display: block;
    font-size: 18px;
}
ul.social > li > a i {
    margin-right: 10px;
}
textarea#message {
    padding: 10px 15px;
    height: 220px;
}
@keyframes scaleUp {
    0% {
        opacity: 0;
        transform: scale(0.3);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}
@-moz-keyframes scaleUp {
    0% {
        opacity: 0;
        -moz-transform: scale(0.3);
    }
    100% {
        opacity: 1;
        -moz-transform: scale(1);
    }
}
@-webkit-keyframes scaleUp {
    0% {
        opacity: 0;
        -webkit-transform: scale(0.3);
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
    }
}
@-ms-keyframes scaleUp {
    0% {
        opacity: 0;
        -ms-transform: scale(0.3);
    }
    100% {
        opacity: 1;
        -ms-transform: scale(1);
    }
}
@-o-keyframes scaleUp {
    0% {
        opacity: 0;
        -o-transform: scale(0.3);
    }
    100% {
        opacity: 1;
        -o-transform: scale(1);
    }
}

