body {
    background: #ffffff;  
}
a, a:hover, a:focus {
  text-decoration: none;
}
h2 {
    font-family: "MyriadPro-Semibold";
    font-size: 34px;
    line-height: 42px;
    text-transform: uppercase;
    color: #ffffff;
    margin: -8px 0 14px 0;
}
.btn-lg {
  color: #ffffff;
  background-color: #1e9509;  
  border-radius: 0;  
  border-style: none;
}

.btn-lg:hover,
.btn-lg:focus,
.btn-lg:active {
  color: #ffffff;
  background-color: #39bc22;  
}

.btn.btn-success { 
  padding: 6px 1px 0 0;
  margin-left: 15px;  
  font-size: 16px;
  line-height: 1;
  height: 27px !important;
  width: 81px;   
}

.btn.btn-success:hover {
  color: #ffffff;
  background-color: #39bc22;  
}

#header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 121px;
    z-index: 99999;
    background-color: #ffffff;
}

.container {
    padding: 0;        
    height: 100%;
    position: relative;
}
.navbar-header {
    float: left;
}
.navbar-right {
    display: inline-block;
    height: 100%;
    width: calc(100% - 230px);
    position: relative;
}
/*Контакты*/
    .infoblock {  
        color: #1e1e1e;
        font-family: "MyriadPro-Regular";
        font-size: 14px;   
    }
    #header .infoblock {  
    height: 100%;
    width: 100%;
    padding-top: 21px;
    text-align: right;
    }
    #header .infoblock > div{
    display: inline-block;  
    }
    #header .phones {
    height: 39px;
    position: relative;      
    }
    .icon-phone {
    font-size: 18px;      
    }
    .phone_text a {
    font-size: 20px;  
    color: #1e1e1e;    
    }
    #header .phones .order_wrap_btn {
        position: absolute;   
        right: 0; 
        bottom: 0;
        color: #1e9509;      
        line-height: 1;
    }
    #header .adress {
    width: 348px;
    position: relative;    
    text-align: right;
    }
    .icon-map-marker {
    font-size: 19px;
    position: absolute;
    top: 4px; 
    }
    #header .icon-map-marker {
        right: 302px;   
    }
    .adress_text1, .adress_text2 {
    color: #2d2d2d;
    margin-left: 20px; 
    position: relative;
    }
    .adress_text1{
    top: 6px;
    }
    .adress_text2 {
    top: 2px;
    }
    @media (min-width: 992px) {
        #header .phones {
            position: absolute;
            top: 21px;
            right: 348px;
        }
    }
    @media (max-width: 991px) {
        #header .phones {
            position: absolute;
            bottom: 0;
            margin-bottom: 10px;
            right: 96px;
        }
        #header .adress {
            position: absolute;
            right: 0;
        }
    }
/*Меню*/
    .navbar-default {    
        border: 0;        
        margin: 0;
        border-radius: 0;
        height: 100%;
        background-color: #ffffff;
        overflow: hidden;
    }
    .navbar-header {
        height: 100%;
    }
    .navbar-default .navbar-brand {    
        width: 230px;
        height: 100%;
        padding: 0;      
        background: url(images/logo.png) no-repeat 50% 50%;
        background-size: contain;
    }
    .navbar-default .navbar-nav{
        position: absolute;
        right: 0;
        bottom: 0;
        margin: 0 0 18px 0;    
        font-family: "MyriadPro-Regular";
        font-size: 16px;
        text-transform: uppercase;
    }
    .navbar-default .navbar-nav > li > a {
    padding: 7px 0.78125vw 0 0.78125vw;
    height: 27px;
    font-size: 16px;
    line-height: 1;
    color: #1e1e1e;
    }
    .navbar-default .navbar-nav > li:first-of-type > a {
    padding: 3px 2.34375vw 0 2.34375vw;
    font-size: 17px;
    }
    .navbar-default .navbar-nav > li.active > a,
    .navbar-default .navbar-nav > li.active:focus > a,
    .navbar-default .navbar-nav > li.active:hover > a,
    .navbar-default .navbar-nav > li:hover > a,
    .navbar-default .navbar-nav > li:focus > a,
    .navbar-default .navbar-nav > li.active > a:focus,
    .navbar-default .navbar-nav > li.active:focus > a:focus,
    .navbar-default .navbar-nav > li.active:hover > a:focus,
    .navbar-default .navbar-nav > li:hover > a:focus,
    .navbar-default .navbar-nav > li:focus > a:focus {
        /*background-color: #52b6ec;*/
        background-color: #ffffff;
        color: #1e9509;
    }
    @media (max-width: 991px) {
        .navbar-default .navbar-nav > li {display: none;}
    }
section {
    width: 100% !important;
    position: relative; /*чтобы якорь цеплялся за секцию*/
}
section .anchor {
    top: -121px; /*смещаем якорь вверх на высоту меню, чтобы при прокрутке секция была ровно ниже меню, а не скрывалась под ним*/
    position: absolute;/*и вырываем его из потока, чтобы он не сказывался на остальном контенте*/
}
/*Первый слайд*/
    #house {
        background: fixed url(images/Layer23.jpg) no-repeat 0 121px;    
        margin: 121px 0 165px 0;        
    }
    #house .flexcol {
        min-height: 635px;
    }
    #house .box {
        max-width: 765px;
        padding: 2.6041vw;
        background: rgba(255, 255, 255, 0.8);  
    }
    #house h1 {
        font-family: "MyriadPro-Semibold";
        font-size: 34px;
        color: #1e1e1e;
        margin: -8px 0 18px 0;
        text-transform: uppercase;
        line-height: 44px;
    }
    #house h3 {
        font-family: "MyriadPro-Regular";
        font-size: 16px;
        color: #2d2d2d;
        margin: 0;
        line-height: 24px;
    }
    .opacity40 {
        opacity: 0.4;  
    }
    .opacity70 {
        opacity: 0.7;  
    }
/*Картинки с тенями*/
    #RoundedRectangle1 
    { 
        left: 152px; 
        top: 626px; 
        position: absolute; 
        width: 666px;
        height: 197px;
        z-index:202;
    } 

    #RoundedRectangle2 
    { 
        left: 629px; 
        top: 611px; 
        position: absolute; 
        width: 267px;
        height: 173px;
        z-index:203;
    } 

    #RoundedRectangle3 
    { 
        left: 728px; 
        top: 625px; 
        position: absolute; 
        width: 430px;
        height: 187px;
        z-index:204;
    } 

    #RoundedRectangle4 
    { 
        left: 993px; 
        top: 548px; 
        position: absolute; 
        width: 462px;
        height: 208px;
        z-index:205;
    } 

    #RoundedRectangle5 
    { 
        left: 914px; 
        top: 555px; 
        position: absolute; 
        width: 247px;
        height: 216px;
        z-index:206;
    } 

    #RoundedRectangle1_0 
    { 
        left: 167px; 
        top: 630px; 
        position: absolute; 
        width: 623px;
        height: 149px;
        z-index:207;
    } 

    #RoundedRectangle2_0 
    { 
        left: 672px; 
        top: 611px; 
        position: absolute; 
        width: 199px;
        height: 154px;
        z-index:208;
    } 

    #RoundedRectangle3_0 
    { 
        left: 765px; 
        top: 611px; 
        position: absolute; 
        width: 364px;
        height: 158px;
        z-index:209;
    } 

    #RoundedRectangle4_0 
    { 
        left: 932px; 
        top: 558px; 
        position: absolute; 
        width: 390px;
        height: 176px;
        z-index:210;
    } 

    #RoundedRectangle5_0 
    { 
        left: 841px; 
        top: 589px; 
        position: absolute; 
        width: 193px;
        height: 168px;
        z-index:211;
    } 

    #Layer25copy 
    { 
        left: 929px; 
        top: 205px; 
        position: absolute; 
        width: 409px;
        height: 491px;
        z-index:212;
    } 
    #Layer24a
    { 
        left: 220px; 
        top: 499px; 
        position: absolute; 
        width: 517px;
        height: 250px;
        z-index:213;
    } 
    #Layer24b
    { 
        left: 718px; 
        top: 250px; 
        position: absolute; 
        width: 357px;
        height: 499px;
        z-index:213;
    } 
    @media (max-width: 1199px) {
        .hide1200 {display: none;}
    }
    @media (max-width: 991px) {
        .hide992 {display: none;}
    }
    @media (max-width: 767px) {
        .hide768 {display: none;}
        #house {margin-bottom: 0;}
    }
.center {
    text-align: center;
}
.row {
    margin: 0;
}
/*Слайд про свойства*/    
    #services {        
        color: #2d2d2d;
    }    
    .flexrow {
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .element {
        position: relative;
        width: 292px;
        padding-left: 15px;
        padding-right: 15px;
        margin-top: 50px;
    }
    #services img {
        width: 96px;
        height: 96px;        
    }
    #services h4 {
        font-family: "MyriadPro-Regular";
        font-size: 20px;
        line-height: 28px;
        margin: 26px 0 6px 0;
    }
    #services h4 + p {
        height: 3px;
        width: 80px;
        margin: 0 auto 15px auto;
        background-color: #1e9509;
        opacity: 0.4;
    }
    #services p {
        font-family: "MyriadPro-Regular";
        font-size: 16px;
        line-height: 24px;
    }
/* Разделитель с кнопкой перейти */
    .form-group { 
        height: 225px;
        position: relative;
        margin: 70px 0;
    }    
    .form-group:first-of-type, .form-group:nth-of-type(2) {
        background: fixed url(images/Layer37.jpg) repeat-y 50% 121px;        
    }
    .form-group:first-of-type::before, .form-group:nth-of-type(2)::before {
        content: '';
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;        
        opacity: 0.8;
    }
    .form-group:first-of-type::before {        
        background-color: #2b2a29;        
    }
    .form-group:nth-of-type(2)::before {        
        background-color: #ffffff;        
    }
    .btn-primary { 
        position: relative;
        height: 63px;
        width: 367px;
        font-family: "MyriadPro-Semibold";
        font-size: 34px;
        line-height: 50px;
        text-transform: uppercase;
        margin: 35px 0 80px 0;
    }    
    .form-group .btn-primary {
        margin: 80px 0;
    }
/* Слайд Как выбрать, который кто-то назвал pricing! Pricing, Карл! Какого лешего?! Причём здесь pricing?! */
    #pricing h2 {            
        color: #1e1e1e;        
        margin-top: 0px;    
        margin-bottom: 20px;   
    }
    #pricing .lead {
        font-family: "MyriadPro-Regular";
        font-size: 24px;
        color: #2d2d2d;
        line-height: 32px;
        margin: 0 0 30px 0;        
    }
    #pricing .lead::after {
        content: '';
        display: block;
        height: 3px;
        width: 500px;
        margin: 10px auto 0px auto;
        background-color: #1e9509;
        opacity: 0.4;
    }
    #pricing-table > div {
        padding: 0;
        margin-bottom: 20px;    
    }        
    .plan {
        background: #f3f3f3;
        list-style: none;    
        padding: 0;  
        margin: 0;         
    }
    .plan li {
        padding: 24px 30px;
        font-family: "MyriadPro-Regular";
        font-size: 20px;
        line-height: 28px;
        color: #1e1e1e; 
        float: left;  
        width: 50%;
    }   
    #pricing .plan li:nth-of-type(2), #pricing .plan li:nth-of-type(3) {
        font-size: 16px;
        line-height: 24px;
        color: #2d2d2d;      
    } 
    .plan  li:first-of-type {
        padding: 0;
        font-size: 20px;
        line-height: 56px;
        color: #ffffff;
        float: none;
        clear: both;
        width: 100%;
        background: fixed url(images/Layer33.jpg) repeat-y 50% 121px;        
        text-align: center;
        height: 55px;
        position: relative;
    }
    .plan  li:first-of-type::before {
        content: '';
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;        
        background-color: #1e9509;        
        opacity: 0.9;
    }
    .plan  li p {
        position: relative;
        margin: 0;        
    }
    .plan i {
        float: left;
        clear: left;
        font-size: 24px;
    }
    .plan i + p {
        float: left;
        width: calc( 100% - 25px );
        padding-left: 10px;
    }
    .icon-color1 {        
        color: #d52316;
    }
    .icon-color2 {        
        color: #128931;
    }
    .icon-color3 {        
        color: #ff7800;
    }
    .plan::after {
        content: '';
        clear: both;
        display: block;
    }
    #pricing #pricing-table > div:last-of-type {
        margin-bottom: 10px;
    }
    #pricing #pricing-table > div:last-of-type .plan {
        border: 4px solid #ff7800;
    }
    #pricing #pricing-table > div:last-of-type .plan  li:first-of-type {
        background-image: none;
        background-color: #ff7800;
        margin-top: -4px;
    }
    #pricing #pricing-table > div:last-of-type .plan  li:first-of-type::before {
        content: none;
    }
    #pricing #pricing-table > div:last-of-type .plan  li:nth-of-type(2) {
        padding: 24px 26px 20px 26px;
        width: 100%;
    }


/* Слайдs про пол, балкон и цоколь*/
    #floor, #balkon, #podval {
        margin-bottom: 30px;
    }
    #floor .flexcol , #balkon .flexcol {
        min-height: 525px;
    }
    #podval .flexcol {
        min-height: 605px;
    }
    #floor {
        background: url(images/layer_93.jpg) no-repeat 0 0;
    }
    #balkon {
        background: url(images/layer_71.jpg) no-repeat 0 0;
    }
    #podval {
        background: url(images/Layer32.jpg) no-repeat 0 0;
    }
    #floor .box, #balkon .box, #podval .box  {
        width: 100%;
        padding: 2.6042vw 1.5625vw;        
        background-color: rgba(30, 30, 30, 0.7);
    }    
    #floor p, #balkon p, #podval p {
        font-family: "MyriadPro-Regular";
        font-size: 20px;
        line-height: 28px;
        color: #ffffff;
    }    
    #floor2 .flexcol, #balkon2 .flexcol, #podval2 .flexcol {
        min-height: 340px;
    }
    .flexcol {
        display: flex;    
        justify-content: space-around;
        flex-direction: column;
        height: 100%;
    }
    .videoWrapper {
        margin-left: -30px;  
        background-color: #ffffff;      
    }
    .videoWrapper iframe {
        height: 312px;
        width: 100%;
    }
    .videoWrapper p {
        font-size: 16px;
        line-height: 22px;
        padding-left: 20px;
        margin-top: -4px;
        padding-bottom: 4px;
    }   

/* Клей */
    #glue {     
        margin-top: 20px;   
        background-color: #1e9509;
        margin-bottom: 140px;
    }
    #Ellipse1 
    { 
        left: calc(2.96875vw - 57px);
        top: 261px; 
        position: absolute; 
        width: 207px;
        height: 77px;
        z-index:101;
    }
    #Layer26 
    { 
        left: 2.96875vw;
        top: -76px;
        position: absolute; 
        width: 97px;
        height: 384px;
        z-index:102;
    } 
    #glue .flexcol {
        min-height: 256px;
    }
    #glue .box {
        margin-left: calc(97px + 5.9375vw);
    }
    #glue p {
        font-family: "MyriadPro-Regular";
        font-size: 20px;
        line-height: 18px;
        color: #ffffff;
    }
/* Последняя секция */
    #last {
        font-family: "MyriadPro-Regular";
        font-size: 24px;
        color: #1e1e1e;
        line-height: 32px;
        margin-bottom: 30px;
    }

    #last h2 {
        color: #ff7800;
        margin-top: -3px;
        margin-bottom: 42px;
    }
    #last .lead {
        margin: 0 0 30px 0;
    }
    #last .phone_text a {
    font-family: "MyriadPro-Bold";
    font-size: 24px;  
    color: #1e9509;    
    }
    #last .lead::after {
        content: '';
        display: block;
        height: 3px;
        width: 500px;
        margin: 20px auto 0px auto;
        background-color: #1e9509;
        opacity: 0.4;
    }
    #last .textbox {
        width: 40%;
        padding: 20px 30px;
    }
    #last .textbox.left {
        float: left;
    }
    #last .textbox.right {
        float: right;
    }
    #last .line {
        background-color: #a5d59d;
        height: 3px;
        margin-top: 44px;
        margin-bottom: -46px;
    }
    .iconround {
        height: 92px;
        width: 92px;
        border: 3px solid #1e9509;
        border-radius: 50%;
        background-color: #ffffff;
        float: left;
        margin-left: calc(20% - 92px);
    }
    .iconround:first-of-type {
        margin-left: calc(20% - 46px);        
    }
    #prefoot {
        min-height: 106px;
        background-color: #f3f3f3;
        margin-top: 50px;
        border-bottom: 1px solid #a1a1a1;
        font-family: "MyriadPro-Regular";
        font-size: 20px;
        line-height: 28px;
        color: #1e1e1e;
    }
    #prefoot .textbox:first-of-type {
        width: 40%;
        padding: 25px 0;        
    }
    #prefoot .textbox:nth-of-type(2) {
        width: 60%;
        padding: 25px 0 0 40px;
    }
    
/* футер */    
    footer .foottop {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        flex-wrap: wrap;
    }
    footer .phones {
    height: 39px;
    position: relative;  
    margin-bottom: 12px;
    }    
    footer .phones .order_wrap_btn {
        position: absolute;   
        left: 0; 
        bottom: 0;
        color: #1e9509;      
        line-height: 1;
        margin-left: 18px;
    }
    footer .adress {
    width: 348px;
    position: relative;
    margin-bottom: 12px;
    }    
            
    /*pay icons*/
    .pay_system_icons {
        margin-top: 14px;
    }
    .pay_system_icons i{display:inline-block;height:20px;width:34px;background:url(images/pay_icons.png) no-repeat;margin:0px 11px 0px 0px;}
    .pay_system_icons span i:last-child{margin-right:0px;}
    .pay_system_icons i.mastercard{background-position:0px -1px;}
    .pay_system_icons i.visa{background-position:-46px -1px;}
    .pay_system_icons i.yandex_money{background-position:-94px -1px;width:21px;}
    .pay_system_icons i.webmoney{background-position:-128px -1px;margin-right:7px;}
    .pay_system_icons i.qiwi{background-position:-172px -1px;margin-right:0px;}

